.About {
    width: 100vw;
    height: 100vh;
    background-color: #FFF;
    display: flex;

}

.about-me{
    width: 50%;
    height: 65%;
    position: absolute;
    /* background-color: teal; */
    margin: auto;
    margin-top: 10%;
    margin-left: 35%;
    color: black;
    font-size: 25px;
    border: 2px solid black;
}

.photo{
    position: absolute;
    margin-top: 10%;
    margin-left: 10%;
}

.text-center{
    text-align: center;
}