.Home{
    width: 100%;
    height: 100vh;
}
.swiffer{
    width: 100vw;
}

.burger{
    width: 100vw;
}

.strava{
    width: 100vw;
}
.quasar{
    width: 100vw;
}

p.carousel-status {
    display: none;
}

.thumbs-wrapper.axis-vertical{
    display: none;
}

button.control-arrow.control-next {
    width: 8%;
}

button.control-arrow.control-prev {
    width: 8%;
}

ul.control-dots {
    display: none;
}

.home-btn{
    position: absolute;
    width: 100vw;
    z-index: 11;
    height: 100vh;
}

.home-btn a{
    display: none;
    text-decoration: none;
}