.Burger{
    width: 80%;
    height: 150%;
    background-color: #FFF;
    top: 10%;
    position: absolute;
    left: 11%;
}
.burger-title{
    height: 40px;
}

.burger-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.burger-videos{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
}

.burger-video{
    margin-top: 15px;
    width: 640px;
    height: 280px;
}

.burger-middle{
    display: flex;
    width: 80%;
    justify-content: space-around;
}

.burger-carousel{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    margin-top: 15px;
}

.burger-info{
    margin-left: 20px;

}

.burger-learned{
    width: 70%;
}